.body {
  background-color: #f7f4f2 !important;
}
.gHead {
  margin-left: 0.4rem;
  margin-bottom: 1rem;
}
.steper {
  margin-top: 25px;
  margin-left: 4.1rem;
  /* align-items: center; */
  /* margin-right: 50px; */
  height: 50px;
  width: 81rem;
}
/* .steperLabel{
  /* font-size: 50px;
   */

@media (max-width: 500px) {
  .steper {
    display: inline-grid !important;
  }
}
